<template>
    <div class="card container" style="margin-bottom: 1cm; margin-top: 1cm;">
        <div class="card-header">
            <h1 style="text-align: center;">Product Ledger</h1>
        </div>
        <div class="card-body">
            <h5 class="card-title col-md-4">
                <label for="" style="padding-bottom: 10px;">Select a product</label>
                <select v-model="selectedProductId" @change="loadProductLedger" class="form-select">

                    <option value="" selected>Select a product</option>
                    <option v-for="product in products" :key="product.id" :value="product.id">{{ product.name }}</option>
                </select>
            </h5>
            <div v-if="selectedProduct" class="card-text">
                <h5>Product Name: {{ selectedProduct.name }} Ledger</h5>
                <table class="table table-bordered text-center">
                    <thead>
                      <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Description</th>
                        <th scope="col">Rate</th>
                        <th scope="col">Stock In</th>
                        <th scope="col">Stock Out</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(record, index) in ledger" :key="index">
                            <td>{{ record.date }}</td>
                            <td>{{ record.description }}</td>
                            <td>{{ record.rate }}</td>
                            <td>{{ record.stock_in }}</td>
                            <td>{{ record.stock_out }}</td>
                          </tr>
                    </tbody>
                  </table>
                <!-- <h2>{{ selectedProduct.name }} Ledger</h2>
                <p>Stock In: {{ ledger.stockIn }}</p>
                <p>Stock Out: {{ ledger.stockOut }}</p>
                <p>Current Stock: {{ ledger.currentStock }}</p> -->
            </div>
        </div>
    </div>
  </template>

  <script>
  export default {
    data() {
      return {
        products: [],
        selectedProductId: null,
        selectedProduct: null,
        ledger: {},
      };
    },
    mounted() {
      this.fetchProducts();
    },
    methods: {
      async fetchProducts() {
        try {
          const response = await axios.get('/api/products'); // Adjust the API endpoint
          this.products = response.data;
        } catch (error) {
          console.error(error);
        }
      },
      async loadProductLedger() {
        try {
          const response = await axios.get(`/api/ledger/${this.selectedProductId}`); // Adjust the API endpoint
          this.selectedProduct = this.products.find(product => product.id === this.selectedProductId);
          this.ledger = response.data;
        } catch (error) {
          console.error(error);
        }
      },
    },
  };
  </script>
